// MAIN TEXT
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  FIREFOX dotted outline
*/
a {
  outline: 0 !important;
}

// REMOVE DEFAULT MARGINS MIXIN
.normalize-text {
  @include normalize-text;
}

/* 
  DISABLE ANCHOR UNDERLINE ON HOVER
*/
// a {
//   &:hover,
//   &:focus,
//   &:active {
//     text-decoration: none !important;
//   }
// }
