/* 
  =================
  TEXT COLOR
  =================
*/

// Contextual emphasis
@for $i from 1 through length($brand-colors-list) {
  .text-#{nth($brand-colors-sufix-list, $i)} {
    a:not(.btn) {
      color: #{nth($brand-colors-list, $i)};
      &:hover {
        color: #{darken(nth($brand-colors-list, $i), 21%)};
      }
    }
    color: #{nth($brand-colors-list, $i)};
  }
  a.text-#{nth($brand-colors-sufix-list, $i)}:not(.btn) { 
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 21%)};
    }
  }
}

@for $i from 1 through length($grayscale-list) {
  .text-#{nth($grayscale-sufix-list, $i)} {
    a:not(.btn) {
      color: #{nth($grayscale-list, $i)};
      &:hover {
        color: #{darken(nth($grayscale-list, $i), 21%)};
      }
    }
    color: #{nth($grayscale-list, $i)};
  }
  a.text-#{nth($grayscale-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 21%)};
    }
  }
}

@for $i from 1 through length($social-colors-list) {
  .text-#{nth($social-colors-sufix-list, $i)} {
    a:not(.btn) {
      color: #{nth($social-colors-list, $i)};
      &:hover {
        color: #{darken(nth($social-colors-list, $i), 21%)};
      }
    }
    color: #{nth($social-colors-list, $i)};
  }
  a.text-#{nth($social-colors-sufix-list, $i)}:not(.btn) {
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 21%)};
    }
  }
}