/*
  EBM Global styles
*/
html,
body {
  background-color: $body-bg;
  font-family:"proxima-nova";
  &::-webkit-scrollbar { 
    display: none; 
  }
}
.site-wrapper,
.site-content {
  position: relative;
}
a{
  text-decoration: none;
}
/*LOGOS HEADER*/
.logo > a > img{
  width: 100%;
}
.logo-footer{
  width: 65%;
}
.logo-utec-byw > a > img{
  padding-top: 4px;
  width: 60%;
}
/*ICON CALL TO ACTION*/
.icon-cta{
  width: 10%;
  margin-left: 5px;
  padding-bottom: 3px;
}
.logo-sponsors-home > img{
  width:100%;
}
/*FOOTER ICONS*/
.icon-footer-facebook{
  width:4%;
}
.icon-footer{
  width: 8%;
}
.col-sm-3 > ul > li {
  padding-bottom:9px;
}
/*ICON CALENDAR*/
.icon-calendar{
  bottom: 2px;
  position: relative;
}
/*CALENDARIO DE EXPOSITORES FECHA-MES-HORA*/
.calendario-expositores{
  border: 1px solid $brand-danger;
  width: 104px;
  height: 63px;
  top:20px;
  left:8px;
  .numero-de-fecha{
    border-right: 1px solid white;
  }
}
/*BACKGROUND SIZE CONTROL*/
.bg-img-block{
  background-position: center center;
  background-repeat: no-repeat;
  height: 343px !important;
  background-size: cover;
  width: 100%;
}
/*BORDER BTN KIT*/
.btn-kit-prensa{
  border: 1px solid #8f8d8e;
  width: 215px;
}
/*BORDER PERCENTEGE PORQUE IR*/
.border-percentege{
  border: 1px solid #8f8d8e;
  width: 13.66667% !important;
}
/*FACEBOOK PLUG-IN*/
.social-plugin-custom{
  width: 290px !important;
  height: 400px !important;
}
/*TWITTER PLUG-IN*/
#twitter-widget-12,
#twitter-widget-4,
#twitter-widget-0{
  border-radius: 0 !important;
  width:290px !important;
}
.root .timeline .ltr .customisable-border  .twitter-timeline .is-touch .twitter-timeline-rendered .var-narrow{
  width: 290px !important;
  border-radius: 0px !important;
}
.timeline{
  border-radius: 0px !important;
}
.icon-profile-expositores{
  position: relative;
  top: 10px;
  right: 53px;
}
.icon-profile-expositores-email{
  @extend .icon-profile-expositores;
  right: 80px;
}
/*FONT SIZES*/
/*Formula para font-size*/

@for $i from 1 through 50{
  .font-s-#{$i*1} {
    font-size: (1px*$i)!important;
  }
}
/*Formula para min-height*/

@for $i from 1 through 30{
  .h-#{$i*60} {
    height : (60px*$i)!important;
  }
}
/*Formula para weight*/

@for $i from 1 through 9{
  .fw-#{$i*100} {
    font-weight:(100*$i)!important;
  }
}
/*Formula para width*/

@for $i from 1 through 90{
  .w-#{$i*10} {
    width : (10%*$i);
  }
}

.lh-12{
  line-height: 1.2;
}
/*BORDER SITE ENGAGE*/
.border-engage-content{
  border: 1px solid #D7D7D7;
  height: 256px;
}
/*BOTON REGISTRATE*/
.btn-registro{
  border: 1px solid #8f8d8e;
}
/*INPUT STYLE*/
.area-custom{
  width: 344px;
}
.input-form-postulacion{
  height: 31px;
  width: 344px;
}
.text-danger {
  color: #DD5341 !important;
  &:hover{
    color: #982a1b !important;
  }
}
/*SHARE BUTTONS SIDE STYLE*/
.at4-share-btn .at-svc-twitter,
.atss a {
    position: relative;
    display: block;
    width: 48px;
    line-height: 48px;
    margin: 0;
    padding: 8px 0;
    outline: none;
    text-align: center;
    text-indent: -9999em;
    float: left;
    -webkit-transition: width .15s ease-in-out;
    -moz-transition: width .15s ease-in-out;
    -ms-transition: width .15s ease-in-out;
    -o-transition: width .15s ease-in-out;
    transition: width .15s ease-in-out;
    overflow: hidden;
    background: #979797 !important;
    z-index: 100030;
}
a.at-svc-facebook:hover {
    background: #305891 !important;
    transition: width .5s ease-in-out;
}
a.at-svc-twitter:hover, a.at-svc-yammer:hover {
    background: #2ca8d2 !important;
    transition: width .5s ease-in-out;
}
a.at-svc-pinterest_share:hover {
    background: #c82828 !important;
    transition: width .5s ease-in-out;
}
/*COLABORADORES FUNCTION*/
.logo-sponsors-home{
  img{
    opacity: 0.8;
  }
}
.logo-sponsors-home {
  img{
    filter: url('#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: Gray();
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
/*HEADER SCROLL*/
.header-scroll {
    transition: 0.3s all ease-in-out; 
    position: fixed;
    z-index: 40;
    opacity: 0;
    top: 0;
    &.active {
      opacity: 1; 
    }
  }
.scroll-down{
  position: relative;
  top: 292px;
}
/* AddThisEvent theme CSS -- AGENDA SECTION
---------------------------------------------------------------------- */

/* General */
.addthisevent               {visibility:hidden;}
.addthisevent span            {display:none!important;}
.addthisevent .data           {display:none!important;}

/* The button */
.addthisevent-drop            {display:inline-block;position:relative;z-index:9s;font-family:"proxima-nova",Arial,sans-serif;color:#000!important;font-weight:300;line-height:100%;background:#fff;border:1px solid;border-color:#e5e6e9 #dfe0e4 #d0d1d5;font-size:15px;text-decoration:none;padding:13px 12px 12px 13px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;-webkit-font-smoothing:antialiased!important;text-shadow:1px 1px 1px rgba(0,0,0,0.004);}
.addthisevent-drop:hover        {border:1px solid #aab9d4;color:#000;font-size:15px;text-decoration:none;}
.addthisevent-drop:active         {top:1px;}
.addthisevent-selected          {background-color:#f9f9f9;}
.addthisevent-drop .addthisevent_icon   {width:18px;height:18px;position:absolute;z-index:1;left:12px;top:10px;}

/* The drop down */
.addthisevent_dropdown          {width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:-2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span       {display:block;line-height:110%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover     {background:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
.addthisevent_dropdown .copyx       {height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx       {height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
.addthisevent_dropdown .frs       {position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
.addthisevent_dropdown .frs:hover     {color:#6d84b4;}
// formula center right left 

$position: fixed relative absolute static;

@each $place in $position {
  .#{$place}{
  position: $place;
  }
}
/*

  Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}
