/*
  EBM Global styles
*/
html,
body {
  background-color: $body-bg;
  font-family:"proxima-nova";
  line-height: 1;
  // &::-webkit-scrollbar { 
  //   display: none; 
  // }
}
p, span {
  line-height: 1.2;
}
.site-wrapper,
.site-content {
  position: relative;
}
a{
  text-decoration: none;
  cursor: pointer;
}
/*LOGOS HEADER*/
.logo > a > img{
  width: 100%;
}
.logo-footer{
  width: 65%;
}
.logo-utec-byw > a > img{
  padding-top: 4px;
  width: 60%;
}
/*ICON CALL TO ACTION*/
.icon-cta{
  width: 10%;
  margin-left: 5px;
  padding-bottom: 3px;
}
.logo-sponsors-home > img{
  width:100%;
}
/*FOOTER ICONS*/
.icon-footer-facebook{
  width:4%;
}
.icon-footer{
  width: 8%;
}
.col-sm-3 > ul > li {
  padding-bottom:9px;
}
/*ICON CALENDAR*/
.icon-calendar{
  bottom: 2px;
  position: relative;
}
/*PORQUE IR*/
.texto-porqueir-section{
  padding-left:0px;
}
/*SEDE*/
.text-responsive-sede-article{
  padding-right: 42px;
}
.texto-sede-facilidades{
  padding-left: 3rem ; 
  padding-right: 3rem ; 
  padding-top: 1rem ; 
}
/*HISTORIAS*/
.texto-historias{
  text-align:left;
}
/*CALENDARIO DE EXPOSITORES FECHA-MES-HORA*/
.calendario-expositores{
  border: 1px solid $brand-danger;
  width: 104px;
  height: 54px;
  top:20px;
  left:8px;
  .numero-de-fecha{
    border-right: 1px solid white;
  }
}
/*BACKGROUND SIZE CONTROL*/
.bg-img-block{
  background-position: center center;
  background-repeat: no-repeat;
  height: 343px !important;
  background-size: cover;
  width: 100%;
}
.bg-img-block-home{
  @extend .bg-img-block;
  height: 495px !important;  
} 
/*BORDER BTN KIT/ POST-EVENTO*/
.btn-cta-post-evento,
.btn-kit-prensa{
  border: 1px solid #8f8d8e;
  width: 215px;
}
/*BORDER PERCENTEGE PORQUE IR*/
.border-percentege{
  border: 1px solid #8f8d8e;
  width: 13.66667% !important;
}
/*FACEBOOK PLUG-IN*/
.social-plugin-custom{
  width: 290px !important;
  height: 400px !important;
}
/*TWITTER PLUG-IN*/
/*Formula Plug-in Twitter*/

@for $i from 0 through 700{
  #twitter-widget-#{$i*1} {
  border-radius: 0 !important;
  width:290px;
  }
}  
.root .timeline .ltr .customisable-border  .twitter-timeline .is-touch .twitter-timeline-rendered .var-narrow{
  width: 290px !important;
  border-radius: 0px !important;
}
.timeline{
  border-radius: 0 !important;
}
.icon-profile-expositores{
  position: relative;
  top: 10px;
  right: 53px;
}
.icon-profile-expositores-email{
  @extend .icon-profile-expositores;
  right: 80px;
}
/*FONT SIZES*/
/*Formula para font-size*/

@for $i from 1 through 50{
  .font-s-#{$i*1} {
    font-size: (1px*$i)!important;
  }
}
/*Formula para height*/

@for $i from 1 through 700{
  .h-#{$i*1} {
    height : (1px*$i)!important;
  }
}
/*Formula para weight*/

@for $i from 1 through 9{
  .fw-#{$i*100} {
    font-weight:(100*$i)!important;
  }
}
/*Formula para width*/

@for $i from 1 through 90{
  .w-#{$i*10} {
    width : (10%*$i);
  }
}

.lh-12{
  line-height: 1.2;
}
/*BORDER SITE ENGAGE*/
.border-engage-content{
  border: 1px solid #D7D7D7;
  height: 256px;
}
/*BOTON REGISTRATE*/
.btn-registro{
  border: 1px solid #8f8d8e;
}
/*INPUT STYLE*/
.area-custom{
  width: 344px;
}
.input-form-postulacion{
  height: 31px;
  width: 344px;
}
.text-danger {
  color: #DD5341 !important;
  &:hover{
    color: #982a1b !important;
  }
}
/*SHARE BUTTONS SIDE STYLE*/
.at4-share-btn .at-svc-twitter,
.atss a {
    position: relative;
    display: block;
    width: 48px;
    line-height: 48px;
    margin: 0;
    padding: 8px 0;
    outline: none;
    text-align: center;
    text-indent: -9999em;
    float: left;
    -webkit-transition: width .15s ease-in-out;
    -moz-transition: width .15s ease-in-out;
    -ms-transition: width .15s ease-in-out;
    -o-transition: width .15s ease-in-out;
    transition: width .15s ease-in-out;
    overflow: hidden;
    background: #979797 !important;
    z-index: 100030;
}
a.at-svc-facebook:hover {
    background: #305891 !important;
    transition: width .5s ease-in-out;
}
a.at-svc-twitter:hover, a.at-svc-yammer:hover {
    background: #2ca8d2 !important;
    transition: width .5s ease-in-out;
}
a.at-svc-pinterest_share:hover {
    background: #c82828 !important;
    transition: width .5s ease-in-out;
}
/*COLABORADORES FUNCTION*/
.logo-sponsors-home{
  img{
    opacity: 0.8;
  }
}
.logo-sponsors-home {
  img{
    filter: url('#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: Gray();
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
/*FILTRO AZUL CAROUSEL*/
.bluescale{
-webkit-filter: grayscale(0.7) hue-rotate(180deg) saturate(3.8);
}
/*FILTRO GRIS DE GRID -SEDE*/
.greyfilter{
-webkit-filter: grayscale(0.9);
}
/*
BORDER CONTENT GRID SEDE
*/
.content-text-border{
  border: 1px solid #e3e3e3;
  height: 160px;
  margin-top:21px; 
}
/*CAROUSEL*/
/*ITEM CAROUSEL*/
.item > img {
  width: 100%;
}
.overlay-carousel{
  position: absolute;
  background-color: rgba(0, 208, 255, 0.19);
  z-index: 2;
  top: 662px;
  right: 384px;
  width: 598px;
  height: 118px;
}
.overlay-carousel-sede {
  background-color: rgba(0, 208, 255, 0.19);
  z-index: 2;
  top: 170px;
  left: 30px;
  width: 306px;
  height: 68px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    top: 88% !important;
}
.carousel-caption{
  bottom: 0px !important;
}
// Move up the indicators
.carousel-indicators {
  bottom: 0px !important;
}
.carousel-indicators-homepage .active {
  background-color: rgba(14, 14, 14, 0.49) !important;
}
/*HEADER SCROLL*/
.header-scroll {
    transition: 0.3s all ease-in-out; 
    position: fixed;
    z-index: 40;
    opacity: 0;
    top: 0;
    &.active {
      opacity: 1; 
    }
  }
.scroll-down{
  position: relative;
  top: 307px;
}
nav a {
   .active{
      color:black;
  }
}
/*MENÚ RESPONSIVE*/
.dr-menu {
  width: 100%;
  max-width: 835px;
  height: 500px;
  position: relative;
  font-size: 1.3em;
  line-height: 2.5;
  font-weight: 400;
  color: #fff;
}
.dr-menu > div .dr-icon {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 150%;
  line-height: 1.6;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.dr-menu.dr-menu-open > div .dr-icon {
  left: 100%;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.dr-menu > div .dr-icon:after {
  content: "\f0d9";
  position: absolute;
  font-size: 50%;
  line-height: 3.25;
  left: -10%;
  opacity: 0;
}
.dr-menu.dr-menu-open > div .dr-icon:after {opacity: 1;}
.dr-menu > div .dr-label {
    padding-left: 3em;
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.75;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.dr-menu.dr-menu-open > div .dr-label {
  -webkit-transform: translateY(-90%);
     -moz-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
          transform: translateY(-90%);
}
.dr-menu ul {
  width: 100%;
  margin: 0 3em 0 0;
  list-style: none;
  opacity: 0;
  position: relative;
  z-index: 0;
  pointer-events: none;
  -webkit-transition: opacity 0s linear 205ms;
     -moz-transition: opacity 0s linear 205ms;
          transition: opacity 0s linear 205ms;
}
.dr-menu.dr-menu-open ul {
  background-color: #F1F1F1;
  height: 100vh;
  opacity: 1;
  z-index: 200;
  pointer-events: auto;
  -webkit-transition: opacity 0s linear 0s;
     -moz-transition: opacity 0s linear 0s;
          transition: opacity 0s linear 0s;
}
.dr-menu ul li {
  display: block;
  margin: 0 0 5px 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
     -moz-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}
.dr-menu.dr-menu-open ul li {opacity: 1;}
.dr-menu.dr-menu-open ul li:nth-child(2) {
  -webkit-transition-delay: 35ms;
     -moz-transition-delay: 35ms;
          transition-delay: 35ms;
}
.dr-menu.dr-menu-open ul li:nth-child(3) {
  -webkit-transition-delay: 70ms;
     -moz-transition-delay: 70ms;
          transition-delay: 70ms;
}
.dr-menu.dr-menu-open ul li:nth-child(4) {
  -webkit-transition-delay: 105ms;
     -moz-transition-delay: 105ms;
          transition-delay: 105ms;
}
.dr-menu.dr-menu-open ul li:nth-child(5) {
  -webkit-transition-delay: 140ms;
     -moz-transition-delay: 140ms;
          transition-delay: 140ms;
}
.dr-menu.dr-menu-open ul li:nth-child(6) {
  -webkit-transition-delay: 175ms;
     -moz-transition-delay: 175ms;
          transition-delay: 175ms;
}
.dr-menu.dr-menu-open ul li:nth-child(7) {
  -webkit-transition-delay: 205ms;
     -moz-transition-delay: 205ms;
          transition-delay: 205ms;
}
.dr-menu ul li a {
  display: inline-block;
  padding: 0 20px;
  color: gray;
  font-size: 21px;
}
.dr-menu ul li a:hover {color: #673;}
.dr-icon:before, .dr-icon:after {
  position: relative;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.dr-menu ul .dr-icon:before {margin-right: 15px;}
.dr-icon-bullhorn:before {content: "\f234";}
.dr-icon-camera:before {content: "\f03d";}
.dr-icon-heart:before {content: "\f08a";}
.dr-icon-settings:before {content: "\f1de";}
.dr-icon-switch:before {content: "\f011";}
.dr-icon-download:before {content: "\f019";}
.dr-icon-user:before {content: "\f007";}
.dr-icon-menu:before {content: "\f0c9";}
@media screen and (max-width: 66.9375em) {
  .side, .main p {
    float: none;
  }
  .main p {font-size: 130%;}
  .dr-menu {
    width: 100%;
    position: relative;
    font-size: 1.3em;
    line-height: 2.5;
    font-weight: 400;
    color: #fff;
  }
}
/*COLLAPSE*/

.depth-1 {
  background: #F1F1F1;
  border-radius: 1px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 93%;
}

.depth-1 > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.depth-1 > li.last {
   border-bottom: none; 
}

.depth-1 > li > a {
  color:#363636;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  opacity: 0.8;
  padding: 13px 70px 13px 20px;
  position: relative;
  -webkit-transition: opacity 0.2s;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}

.depth-1 > li.sub > a > span {
  display: block;
  height: 100%;
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  text-align: center;
}

.depth-1 > li.sub > a > span::after {
  content: '+'; 
}

.depth-1 > li.active.sub > a > span::after {
  content: '-'; 
}

.depth-1 > li > a:hover,
.depth-1 > li.active > a {
  opacity: 1;
}

.depth-2 {
  display: none;
}

li.active .depth-2 {
  display: block;
  list-style: none;
  margin: 0 20px 13px;
  padding: 0;
}

.depth-2 li {
  
}

.depth-2 a {
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  padding: 5px 0;
  text-decoration: none;
}

.depth-2 li.first a {
  padding-top: 0; 
}

.depth-2 li.last a {
  padding-bottom: 0; 
}
/**/
// #overlay-menu {
//   position: fixed;
//   z-index: 112;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   @include transform(translateX(-100%));
//   @include transition(transform .5s ease);
//   ul {
//     list-style: none;
//     li {
//       height: 70px;
//       font-size: 18px;
//       font-size: rem(18px);
//       a{
//         color: rgba(14, 14, 14, 0.49) !important;
//         &:hover{
//           background-color: #ff4000;
//         }
//       }
//     }
//   }
// }
// .open {
//   @include transform(translateX(0)!important);
// }
/* AddThisEvent theme CSS -- AGENDA SECTION
---------------------------------------------------------------------- */

/* General */
.addthisevent               {visibility:hidden;}
.addthisevent span            {display:none!important;}
.addthisevent .data           {display:none!important;}

/* The button */
.addthisevent-drop            {display:inline-block;position:relative;z-index:9;font-family:"proxima-nova",Arial,sans-serif;color:#000!important;font-weight:300;line-height:100%;background:#fff;border:1px solid;border-color:#e5e6e9 #dfe0e4 #d0d1d5;font-size:15px;text-decoration:none;padding:13px 12px 12px 13px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;-webkit-font-smoothing:antialiased!important;text-shadow:1px 1px 1px rgba(0,0,0,0.004);}
.addthisevent-drop:hover        {border:1px solid #aab9d4;color:#000;font-size:15px;text-decoration:none;}
.addthisevent-drop:active         {top:1px;}
.addthisevent-selected          {background-color:#f9f9f9;}
.addthisevent-drop .addthisevent_icon   {width:18px;height:18px;position:absolute;z-index:1;left:12px;top:10px;}

/* The drop down */
.addthisevent_dropdown          {width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:-2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addthisevent_dropdown span       {display:block;line-height:110%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:8px 10px 9px 15px;}
.addthisevent_dropdown span:hover     {background:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
.addthisevent_dropdown .copyx       {height:21px;display:block;position:relative;cursor:default;}
.addthisevent_dropdown .brx       {height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
.addthisevent_dropdown .frs       {position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
.addthisevent_dropdown .frs:hover     {color:#6d84b4;}
// formula center right left 

$position: fixed relative absolute static;

@each $place in $position {
  .#{$place}{
  position: $place;
  }
}
/*
 POP UP CONTACTO
*/
a{
    outline: 0;
    text-decoration: none;
}
.modal-bg{
    display: none;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:100;
    background-color:rgba(50,50,50,0.5);
}
#modal{ 
  display: none;
  position: absolute;
  background-color: white;
  top: 28%;
  left: 43%;
  z-index: 101;
  width: 540px;
  height: 653px;
  margin-top: -174px;
  margin-left: -170px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
#close{
  color: #FF6633;
  position: absolute;
  left: 94%;
  top: 12px;
  z-index: 5;
  background-color: transparent;
  border: transparent;
}
#close:hover{
    color: gray;
}
.text-in{
  text-decoration: none;
  color: #8B8B8B;
  position: absolute;
  top: 76.6%;
  left: 49%;
  font-size: 1.3em;
}
.input-texto{
  padding-left: 0px;
}
.input-contacto{
  height: 26px;
  width: 240px;
}
.area-custom-popup{
  width: 240px;
  height: 60px;
}
/*
POP UP EXPOSITOR
*/
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

/*
  Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media only screen and (max-width: 480px){
  /*ARROW SCROLL*/
  .scroll-down{
  visibility: hidden;
  }
  /*PLUGIN REDES*/
  .plugins-redes-sociales{
    text-align: center !important;
  }
  /*HISTORIAS*/
  .texto-historias{
    text-align: center;
  }
  /*SEDE*/
  .sedecontent{
    text-align: center !important;
  }
  .text-responsive-sede-article{
    text-align: center !important;
    padding-right:0px !important;
  }
  .content-text-border{
    margin-top: 0px !important; 
  }
  .overlay-carousel-sede {
    top: 157px;
    left: 25px;
    width: 291px;
  }
  .mapa-pop-up > iframe{
    width: 300px !important;
  }
  .texto-sede-facilidades{
    padding-left: 7px !important ; 
    padding-right: 0px  !important; 
    padding-top: 0px !important; 
  }
  /*PRENSA*/
  .text-resposive-prensa{
    text-align:center !important;
  }
  .btn-kit-prensa {
    text-align:center !important;
    border: 2px solid #000000;
    width: auto;
    a{
      font-size: 18px;
      color:#000 !important;
    }
  }
  /*PORQUE IR*/
  .icono-porqueir-section{
    width:20% !important; 
  } 
  .texto-porqueir-section{
    text-align: center !important;
    padding-left: 1.5rem !important;
  }
  .border-percentege {
    border: 1px solid #8f8d8e;
    width: 32.66667% !important;
  }
  .subtex-porqueir-section{
    padding-left: 14px !important;
    text-align: right !important;
    bottom: 80px;
    right: 12px;
  }
  /*ENGAGE*/
  #engage-section{
    padding: 0px !important;
    text-align: center;
    h3{
      font-size: 18px !important;
    }
    p{
      font-size: 15px !important;
    }
    img{
      padding-top: 14px;
      padding-right: 0px;
    }
  }
  /*EXPOSITORES*/
  .calendario-expositores{
    top: 0px;
    left: 11px;
  }
  .linkedin-responsive{
    left: 40px !important;
    top: 11px !important;
  }
  /*HISTORIAS*/
  .imagen-historias-responsive{
    margin-top: 21px;
  }
  /*REGISTRATE*/
  .area-custom,
  .input-form-postulacion{
    width: 256px;
  }
  #redes-sociales{
    text-align: center;
    padding-left: 0px !important;
    margin-left: 0px !important;
    .col-sm-3 > ul > li > a{
      font-size: 21px !important;
    }
  }
  .logo-sponsors-home{
    text-align: center;
  }
  .logo-sponsors-home > img {
    width: 70%;
    padding-bottom:5px;
  }
  .logos-footer-gris{
    width: 35%;
  }
  .btn-mobile{
    background-color: transparent;
    border:transparent;
  }
  .modal-bg{
   z-index: 500; 
  }
  #modal{
    width: 367px;
    height: 646px;
    left: 46%;
  }
  .input-texto{
    padding-left: 50px !important;    
  }
  #close{
    left: 91%;   
    top: 6px; 
    span{
      font-size: 30px;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*ARROW SCROLL*/
  .scroll-down{
  visibility: hidden;
  }
  /*PLUGIN REDES*/
  .plugins-redes-sociales{
    text-align: center !important;
  }
  /*EXPOSITORES*/
  .calendario-expositores{
    top: 0px;
    left: 11px;
  }
  .linkedin-responsive{
    left: 155px !important;
  }
  /*HISTORIAS*/
  .texto-historias{
    text-align: center;
  }
  /*SEDE*/
  .sedecontent{
    text-align: center !important;
  }
  .text-responsive-sede-article{
    text-align: center !important;
    padding-right:0 !important;
  }
  .content-text-border{
    margin-top: 0px !important; 
  }
  .overlay-carousel-sede {
    top: 182px;
    left: 26px;
    width: 328px;
  }
  .mapa-pop-up > iframe{
    width: 300px !important;
  }
  /*PRENSA*/
  .text-resposive-prensa{
    text-align:center !important;
  }
  .btn-kit-prensa {
    text-align:center !important;
    border: 2px solid #000000;
    width: auto;
    a{
      font-size: 18px;
      color:#000 !important;
    }
   }
  /*PORQUE IR*/
  .icono-porqueir-section{
    width:20% !important; 
  } 
  .texto-porqueir-section{
    text-align: center !important;
    padding-left: 1.5rem !important;
  }
  .border-percentege {
    border: 1px solid #8f8d8e;
    width: 32.66667% !important;
  }
  .subtex-porqueir-section{
    padding-left: 14px !important;
    text-align: right !important;
    bottom: 80px;
    right: 12px;    
  }
  /*ENGAGE*/
  #engage-section{
    padding: 21px !important;
    text-align: center;
    h3{
      font-size: 20px !important;
    }
  }
  /*HISTORIAS*/
  .imagen-historias-responsive{
    margin-top: 21px;
  }
  /*REGISTRATE*/
  .area-custom,
  .input-form-postulacion{
    width: 256px;
  }
  #redes-sociales{
    text-align: center;
    padding-left: 0px !important;
    margin-left: 0px !important;
    .col-sm-3 > ul > li > a{
      font-size: 21px !important;
    }
  }
  .logo-sponsors-home{
    text-align: center;
  }
  .logo-sponsors-home > img {
    width: 70%;
    padding-bottom: 5px;
  }
  .btn-mobile{
    background-color: transparent;
    border:transparent;
  }
  .modal-bg{
   z-index: 500; 
  }
  #modal{
    width: 367px;
    height: 646px;
    left: 46%;
  }
  .input-texto{
    padding-left: 50px !important;    
  }
  #close{
    left: 91%;   
    top: 6px; 
    span{
      font-size: 30px;
    }
  }
}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}
