/*
	Header
*/
$header-height-control: 97px; // Header
$tool-bar-height-control: 43px; // Header
.header {
	// @include position(absolute, 0 0 null 0);
	// @include position(fixed, 0 0 null 0);
	// z-index: 1000;
	// -webkit-backface-visibility: hidden; 
	// -webkit-transform: translateZ(0);
	@include normalize-text;
	min-height: $header-height-control;
	background-color: $gray-darker;
	width: 100%;
	.container,
	.container-sm,
	.container-fluid {
	}
	.row {
		@include flex-row-space-between;
	}
	.header-left,
	.header-right {
		// width: 50%;
	}
	.header-left,
	.header-center,
	.header-right {
		@include flex-column-center;
		min-height: $header-height-control;
	}
	.header-left {
		
	}
	.header-center {
		text-align: center;
	}
	.header-right {
		@include flex-align-end;
		text-align: right;
	}
	.header-nav-center {
		a {
			@include light;
			font-size: $font-size-h4;
			display: inline-block;
			position: relative;
			margin-right: 21px;
			margin-right: rem(21px);
			padding: 4px 9px;
			color: white;
			&:hover,
			&.active {
				color: white !important;
				text-decoration: none;
				transition: 0.3s all ease-in-out;
			}
			&:after {
			  @include position(absolute, 5px -11px null null);
			  background-color: #8f8d8e;
			  display: inline-block;
			  height: 23px;
				content: "";
			  width: 1px;
			}
			&:last-child {
				&:after {
					background-color: transparent;
				}
			}
		}
	}
}
.header-scroll {
  position: fixed;
  opacity: 0;
  transition: 0.3s all ease-in-out; 
  z-index: 40;
  top: 0;
  &.active {
    opacity: 1; 
  }
}
/*
	Tool bar
*/
.tool-bar {
	@extend .header;
	background-color: $gray-lighter;
	height: $tool-bar-height-control;
	min-height: $tool-bar-height-control;
	font-size:12px;
	position: relative;
  z-index: 50;
	.tool-bar-left,
	.tool-bar-right {
		min-height: $tool-bar-height-control;
	}
	.tool-bar-left {
		@include flex-column-center;
	}
	.tool-bar-right {
		@include flex-align-center;
		@include flex-row-end;
	}
	.tool-bar-nav-left,
	.tool-bar-nav-right {
		a:not(.btn) {
			margin-right: 7px;
			color: $gray;
			&:hover,
			&.active {
				color: $gray-dark;
				transition: 0.3s all ease-in-out;
			}
		}
	}
	.tool-bar-nav-right,
	.tool-bar-search-form {
		display: inline-block;
	}
	.tool-bar-search-form {
		width: 350px;
	}
	.tool-bar-nav-right {
		margin-left: $container-fluid;
		.btn {}
	}
}



















